<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.DerbyDialect
   </property>
   <property name="hibernate.connection.driver_class">
      org.apache.derby.jdbc.EmbeddedDriver
   </property>
    <property name="hibernate.show_sql">
      true
   </property>
    <property name="hibernate.hbm2ddl.auto">
      update
   </property>
   <property name="hibernate.connection.autocommit">
      false
   </property>

   <!-- Assume derbyDb is the database name -->
   <property name="hibernate.connection.url">
      jdbc:derby:C:/derbyDb;create=true
   </property>
   <property name="hibernate.connection.username">
      tom
   </property>
   <property name="hibernate.connection.password">
      tom
   </property>

</session-factory>
</hibernate-configuration>